<div class="Container">
  <div class="Left">
    <aside class="menu">
      <p class="menu-label">
      <div class="control has-icons-right">
        <input class="input" type="text" placeholder="Find User">
        <span class="icon is-medium is-right">
                  <i class="fa fa-search"></i>
                  </span>
      </div>
      </p>
      <ul class="menu-list">
        {{#each model as |user|}}
          <li>
            <a href="">
              {{user.displayName}}
            </a>
          </li>
        {{/each}}
      </ul>
    </aside>
  </div>
  <div class="Middle">
    {{outlet}}
  </div>
</div>

